.custom-bg-base{
    background-color: #FFE9E9;
}

.custom-inactive{
    background-color: #8290DA;
}

.custom-button{
    background-color: #8290DA;
    transition-duration: 0.15s;
    filter: none;
}
.cursor-circle {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(53, 59, 90, 0.15);
    pointer-events: none;
    z-index: 9999;
}

.bg-house {
    margin: 0 10px 0 10px;
    background-color: #D5DBFB;
    z-index: 2;
    transition-duration: 0.15s;
}

.bg-house-ground {
    background-color: #8290DA;
    margin-top: -50px;
    border-radius: 50% 50% 0 0;
    height: 20vh;
    position: relative;
    z-index: 1;
}
.custom-button:hover, .bg-house:hover {
    box-shadow: 0 0 10px gray;
    transition-delay: 0.4s;
}

.test{
    background-image: url("/static/images/test.png");
    background-size: cover;
    min-height: 100vh;
    width: 100%;

}
.test-2{
    filter: hue-rotate(180deg) invert(10%) saturate(5);
}