.bg-container {
    position: relative;
    background-image: url("/static/images/auth_scroll.png");
    background-size: 100% auto;
    background-position: center top;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 98%;
    max-width: 1200px;
    min-height: 660px;
    margin: 0 auto;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    padding: 12px 24px;
    border-radius: 8px;
    z-index: 10;
    width: 100%;
    max-width: 500px;
}

.sent-close {
    position: absolute;
    top: 19%;
    right: 21%;
    width: 99px;
    height: 99px;
    display: block;
    background-image: url("/static/images/cross.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    text-decoration: none;
    z-index: 20;
    cursor: pointer;
    transition: transform 0.2s ease;
}