{% extends "base.html" %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/user_done.css' %}">
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="bg-container">
      <a
        href="{% url 'main:main' %}"
        class="sent-close"
        aria-label="Закрыть"
        title="Закрыть">
      </a>
      <div class="text">
        <h1 class="bg-head rounded-top-3 p-2">
          {{ title }}
        </h1>
        <h3 class="mt-4">{{ message }}</h3>
        {% if login_url %}
          <a class="btn btn-submit mt-3" href="{{ login_url }}">
            Перейти ко входу
          </a>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}