{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bgcolor">
  <div class="container">

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        {% if user.is_staff %}
          <li class="nav-item">
            <a class="nav-link custom-button rounded-pill text-white text-decoration-none" href="/admin/">Админ панель</a>
          </li>
        {% endif %}
        <h1>{{user.role}}</h1>
        <li class="nav-item">
          {% if user.role == 'player' %}
            <span class="nav-link active custom-inactive rounded-pill text-white">{{user.username}}</span>
            <a class="nav-link custom-button rounded-pill text-white text-decoration-none" href="{% url 'user:character' %}">Персонаж</a>
          {% else %}
            <a class="nav-link custom-button rounded-pill text-white text-decoration-none" href="{% url 'user:registration' %}">Регистрация</a>
          {% endif %}
        </li>

        <li class="nav-item">
          {% if request.resolver_match.view_name == 'main:main' %}
            <span class="nav-link active custom-inactive rounded-pill text-white">На главную</span>
          {% else %}
            <a class="nav-link custom-button rounded-pill text-white text-decoration-none" href="{% url 'main:main' %}">На главную</a>
          {% endif %}
        </li>

        {% if user.is_authenticated %}
          <li class="nav-item">
            {% if request.resolver_match.view_name == 'user:character' %}
              <span class="nav-link active custom-inactive rounded-pill text-white">Персонаж</span>
            {% else %}
              <a class="nav-link custom-button rounded-pill text-white text-decoration-none" href="{% url 'user:character' %}">Персонаж</a>
            {% endif %}
          </li>

          <li class="nav-item">
            {% if request.resolver_match.view_name == 'city:city' %}
              <span class="nav-link active custom-inactive rounded-pill text-white">Город</span>
            {% else %}
              <a class="nav-link custom-button rounded-pill text-white text-decoration-none" href="{% url 'city:city' %}">Город</a>
            {% endif %}
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>